.search-holder .search-box {
    border-bottom: 0 !important;
}
.product__name {
    font-family: 'FuturaLTPro', "Avenir Next LT W04 Medium", sans-serif !important;
    top: -1px;
}
.product-holder .product__title,
.product-holder .product-price .price,
.product-holder .prod-price .price {
    font-family: 'FuturaLTPro', "Avenir Next LT W04 Medium", sans-serif;
    color: #000;
}
.product-holder .product__title {
    font-size: 26px;
    margin-top: 35px;
    line-height: 1.3;
}
.product-holder .product-price .price,
.product-holder .prod-price .price {
    font-size: 16px;
}
.product-holder .product__sku {
    font-family: 'FuturaLTPro', "Avenir Next LT W04 Medium", sans-serif !important;
    font-size: 16px;
}
.product-holder .product-price .price,
.product-holder .prod-price .price {
    font-weight: 700;
}
.product-holder .notify-me-ctrls .btn.btn--white {
    background: #000;
    color: #fff;
    text-transform: uppercase;
}
.product-holder .notify-me-ctrls .btn.btn--white,
.product-holder .wishlist-ctrls .btn.btn--white {
    outline: none;
    line-height: 1.5;
    font-size: 14px;
}
.navigation ul li {
    padding-right: 2.1%;
}
.breadcrumbs {
    font-family: 'FuturaLTPro', "Avenir Next LT W04 Regu1437496", sans-serif;
}
.product-holder .wishlist-ctrls .btn.btn--white, .product-holder .wishlist-ctrls .btn.btn--white.fl {
    border: 0 !important;
    padding-left: 15px !important;
    padding-right: 0 !important;
}
.product-holder .wishlist-ctrls .btn.btn--white div {
    display: none;
}
.product-holder .product__btns .notify-me-ctrls i {
    font-size: 18px;
}
.product__btns.cf.pull-left.waitlist { width: 100% !important; margin-top: 0 !important; }
.category-row2 .product__btns .btn.btn--white[name="notifyme"] {
    background: #000;
    color: #fff;
    padding: 6px 10px 4px;
    font-family: 'FuturaLTPro' !important;
    text-transform: uppercase;
    font-weight: 700;
}
.notify-me-ctrls div,
.wishlist-ctrls div {
    padding-top: 5px;
}
.product-holder .notify-me-ctrls .btn.btn--white,
.product-holder .wishlist-ctrls .btn.btn--white,
.btn.btn--black[value="ADD TO BAG"] {
    font-family: 'FuturaLTPro', "Avenir Next LT W04 Medium" !IMPORTANT;
    font-weight: 700;
}
.color-options li.disable a:before {
    background-size: cover;
}
.product__social .fa {
    font-size: 20px;
    margin-right: 10px;
    color: #c5c5c5;
}
.color-options li {
    width: initial;
    height: initial;
    margin-right: 1px;
    margin-bottom: 1px;
}
.color-options li.active {
    margin-right: 3px !important;
    margin-bottom: 3px !important;
}
.color-options li a img {
    width: 38px;
    height: 38px;
}
.bv-cv2-cleanslate .bv-core-container-164 .bv-details-bar {
    margin-top: 0 !important;
}
.bv-cv2-cleanslate .bv-core-container-164 .bv-summary-bar .bv-stats-container {
    padding-top: .8em !important;
}
.bv-cv2-cleanslate .bv-core-container-164 .bv-text-link {
    padding-bottom: 8px !important;
}
.bv-cv2-cleanslate .bv-core-container-164 .bv-summary-bar .bv-action-bar {
    padding-top: 8px !important;
}
.bv-cv2-cleanslate .bv-core-container-164 button.bv-write-review,
.bv-cv2-cleanslate .bv-core-container-164 button.bv-read-review,
.bv-cv2-cleanslate .bv-core-container-164 button.bv-ask-question,
.bv-cv2-cleanslate .bv-core-container-164 .bv-button {
    background: transparent !important;
    border: 1px solid #ccc !important;
}
.bv-cv2-cleanslate .bv-core-container-164 button.bv-write-review:hover,
.bv-cv2-cleanslate .bv-core-container-164 button.bv-read-review:hover,
.bv-cv2-cleanslate .bv-core-container-164 button.bv-ask-question:hover,
.bv-cv2-cleanslate .bv-core-container-164 .bv-button:hover,
.bv-cv2-cleanslate .bv-core-container-164 button.bv-write-review:focus,
.bv-cv2-cleanslate .bv-core-container-164 button.bv-read-review:focus,
.bv-cv2-cleanslate .bv-core-container-164 button.bv-ask-question:focus,
.bv-cv2-cleanslate .bv-core-container-164 .bv-button:focus {
    background: transparent !important;
    border-color: #000 !important;
}
@media screen and (min-width: 46em) {
    .breadcrumbs {
        padding: 20px 0 20px;
    }
    .breadcrumbs a:after {
        top: 0;
    }
    .breadcrumbs a {
        padding: 0 12px 0 3px;
    }
    .product__info {
        padding: 0 0 25px;
    }
    .product__social {
        padding-top: 30px;
    }
    .product__social a {
        font-size: 17px;
    }
    .product__social .fa.fa-comment {
        margin-right: 6px;
    }
}
@media screen and (max-width: 45.9375em) {
    .product__info {
        padding: 5px 0 0;
        margin-top: 10px;
    }
    .product-img-description h4 {
        font-family: 'FuturaLTPro', "Avenir Next LT W04 Medium" !IMPORTANT;
        font-weight: 500;
    }
    .product__colors {
        margin-right: -15px; }
    .product-holder .product__title {
        font-size: 20px;
        margin-top: 0;
        line-height: 1.3;
        text-align: center;
    }
    .breadcrumbs {
        padding-top: 30px;
        text-align: center;
    }
    .breadcrumbs a.last:after {
        content: '\f105';
        display: inline;
        font-family: 'FontAwesome';
        font-size: 15px;
        line-height: 0.35;
        position: absolute;
        right: -12px;
    }
    .breadcrumbs .hidden-lg {
        display: none;
    }
    .product-images {
        padding-top: 5px;
        min-height: 350px;
        min-height: inherit;
        margin-bottom: 15px;
        max-width: 90%;
        margin-left: 5%;
    }
    .product-holder .wishlist-ctrls .btn.btn--white {
        padding-top: 0px;
        padding-left: 0;
    }
    .product-images .slick-initialized .slick-slide {
        padding-top: 10px;
        padding-bottom: 0;
        outline: none;
    }
    .list-images-mobile .slick-dots {
        margin-top: 8px;
    }
    .list-images-mobile .slick-slide { text-align: center; }
    .list-images-mobile .slick-slide img { display: inline-block; }

    .product-img-description {
        min-height: inherit;
    }
    .product-img-description span {
        display: block;
        margin-bottom: 5px;
    }
    .product-img-description h4 {
        margin-bottom: 5px;
    }

    .breadcrumbs a {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 12px;
    }
    .product__info {
        padding-top: 0;
    }
    .product__title {
        padding-bottom: 0;
    }

    .product-holder .product__btns .notify-me-ctrls i {
        font-size: 13px;
    }
    .product-holder .product__btns .wishlist-ctrls i { font-size: 24px; padding-top: 4px; }

    .product-holder .waitlist .notify-me-ctrls .btn.btn--white { font-size: 12px; padding: 8px 10px 6px; }
    .product-holder .waitlist .notify-me-ctrls .btn.btn--white div { padding-top: 0; }

    .product-holder .mobile-add-inner-div.waitlist .notify-me-ctrls button[name="notifyme"] { padding: 6px 10px 6px !important; }
    .product-holder .mobile-add-inner-div.waitlist .notify-me-ctrls button[name="notifyme"] div { padding-left: 5px !important; display: inline; }

    .product-holder .product__btns .notify-me-ctrls { float: left; width: initial; margin: 3px 0 0; }
    .small-add-wish { margin-top: -3px; }
    .mobile-add-detail-form + .product__btns.cf.pull-left.waitlist { padding-top: 0; }
    .mobile-add-select-qty-box select { font-family: 'FuturaLTPro'; }
}


.btn.btn--black.btn--large.fl { width: calc(100% - 53px); min-width: initial; padding: 11px 30px 10px; }
form .product__btns.cf.pull-left { float: none !important; display: inline-block; width: 100%; }
.product__colors + form { width: 300px; float: left; }
.product__btns.cf.pull-left .add-to-cart-ctrls.pull-left { float: none !important; }
.mobile-add-detail-form + .product__btns.cf.pull-left { width: 45px; float: left !important; margin-top: 0px; }
.add-to-cart-ctrls .btn.btn--large { font-size: 15px; letter-spacing: 0.04em; }
.add-to-cart-ctrls .select-qty-box { height: 44px; }

@media screen and (max-width: 45.9375em) {
    .btn.btn--black.btn--large.fl { width: calc(100% - 53px); min-width: initial; padding: 11px 30px 10px; }
    form .product__btns.cf.pull-left { float: none !important; display: inline-block; width: 100%; }
    .product__colors + form { width: 350px; float: left; }
    .product__btns.cf.pull-left .add-to-cart-ctrls.pull-left { float: none !important; }
    .mobile-add-detail-form + .product__btns.cf.pull-left { width: 45px; float: left !important; margin-top: 46px; }
    .add-to-cart-ctrls .btn.btn--large { font-size: 15px; letter-spacing: 0.04em; }
    .add-to-cart-ctrls .select-qty-box { height: 44px; }
}
@media screen and (max-width: 30em) {
    .product__colors + form { width: calc(100% - 45px); float: left; }
}
